<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IGitWebService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:63637/GitWebService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGitWebService"
                contract="GitWebService.IGitWebService" name="BasicHttpBinding_IGitWebService" />
        </client>
    </system.serviceModel>
</configuration>